:root {
   font-family: 'Rosario', sans-serif;
   font-size: 10px;
   --color-black: black;
   --color-menu-list: #FFFCFC;
   --color-hide-text: #FFFAFA;
   --color-background-form: #E5E5E5;
}

body {
   margin: 0 auto;
   max-width: 1620px;
}

a {
   text-decoration: none;
}

/*header*/
.menu-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--color-black);
   height: 12vh;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 1;
   max-width: 100%;
}

.header-img {
   height: 12vh;
   display: flex;
   align-items: center;
   margin: 0;
}

.header-menu {
   display: flex;
   align-items: center;
   justify-content: space-around;
   font-size: 3.6rem;
   font-weight: 700;
   font-style: italic;
   width: 54vw;
}

.header-menu div a {
   color: var(--color-menu-list);
}

/*section-1*/

.img-block-1 {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 15vh;
   overflow: hidden;
}

.img-block-1 img {
   height: 100%;
   width: 100%;
}

.img-block-1-lateral-left {
   transform: translateX(-1000vw);
   animation-name: animationName;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   animation-timing-function: ease-out;
   animation-delay: 1s;
   max-width: 20vw;
   margin: 1vw;
}

.img-block-1-lateral-right {
   transform: translateX(1000vw);
   animation-name: animationName-2;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   animation-timing-function: ease-out;
   animation-delay: 1s;
   max-width: 20vw;
   margin: 1vw;
}

.img-block-1-center-group-1 {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   transform: translateX(-100vw);
   transition: all 3s linear;
   animation-name: animationName;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   animation-timing-function: ease-out;
   margin: 0 1vw;
}

.img-block-1-center-group-2 {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   transform: translateX(100vw);
   animation-name: animationName-2;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   animation-timing-function: ease-out;
   margin: 0 1vw;
}

.img-up {
   height: 38vh;
   margin: 1vh 0;
}

/*section-2*/

.img-block-2 {
   display: flex;
   box-sizing: border-box;
   padding-bottom: 1%;
   height: 88vh;
   margin-top: 12vh;
}

.img-block-2-left {
   min-width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
}

.mod-box {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   align-content: space-around;
   height: 100%;
   animation-name: moving-1;
   animation-duration: 4s;
   animation-fill-mode: forwards;
   animation-timing-function: ease-out;
   transform-origin: center;
   width: 37vw;
   height: 70vh;
}

.img-icon {
   max-width: 17vw;
   max-width: 14.5vw;
}

.img-text {
   display: flex;
   flex-direction: column;
   align-items: center;
   animation-name: moving;
   animation-duration: 4s;
   animation-fill-mode: forwards;
   animation-timing-function: ease-out;
   width: 17vw;
}

.text-icon {
   text-align: center;
   font-size: 3.2rem;
   font-weight: 700;
   font-style: italic;
}

.img-block-2-right {
   min-width: 50%;
   overflow: hidden;
}

/*section-3*/

.section-3-head {
   font-size: 9.6rem;
   font-weight: 700;
   text-align: center;
   box-sizing: border-box;
   padding: 50px 0 30px 0;
}

.img-block-3 {
   display: flex;
   justify-content: space-evenly;
   position: relative;
   align-items: stretch;
   box-sizing: border-box;
   padding-bottom: 3%;
}

.img-block-3-box-img {
   position: relative;
   overflow: hidden;
   border-radius: 40px;
   cursor: pointer;
   width: 21vw;
   margin: 1vw;
}

.img-block-3-box-img img {
   width: 100%;
   height: 100%;
}

.img-block-3-hide-text {
   font-family: 'Volkhov', serif;
   font-size: 4.8rem;
   font-weight: 400;
   text-align: center;
   color: var(--color-hide-text);
   background-color: rgba(163, 83, 10, 0.7);
   padding: 30px 0;
   border-radius: 0 0 40px 40px;
   width: 100%;
   position: absolute;
}

.img-block-3:hover>.img-block-3-box-img {
   filter: brightness(0.5);
}

.img-block-3 .img-block-3-box-img:hover {
   filter: brightness(1);
}

.img-block-3-box-img:hover .img-block-3-hide-text {
   animation-name: cap;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   animation-timing-function: ease-out;
   display: block;
}

/*section-4*/

.block-4 {
   display: flex;
   justify-content: space-evenly;
   box-sizing: border-box;
   padding-top: 3%;
}

.block4-left {
   max-width: 48vw;
   display: flex;
   flex-direction: column;
}

.block4-left-head {
   font-size: 6.4rem;
   font-style: italic;
   font-weight: 700;
   text-align: center;
   display: flex;
   justify-content: center;
   box-sizing: border-box;
}

.block4-left-form {
   background-color: var(--color-background-form);
   box-sizing: border-box;
   padding-top: 35px;
}

.form-input {
   display: flex;
   justify-content: space-around;
}

.form-input input,
textarea {
   font-size: 3.6rem;
   font-weight: 700;
   border: none;
   padding: 2%;
   font-family: 'Rosario', sans-serif;
}

.input-name {
   width: 40%;
}

.input-email {
   width: 40%;
}

.textarea-div {
   display: flex;
   justify-content: center;
   box-sizing: border-box;
   padding: 3% 0;
}

textarea {
   width: 90%;
   height: 52%;
}

iframe {
   box-sizing: border-box;
   width: 35vw;
   height: 60vh;
}

/*FOOTER*/
.contact {
   display: flex;
   justify-content: space-around;
   box-sizing: border-box;
   padding: 2% 0 1% 0;
   align-items: center;
}

.contact-left {
   max-width: 27vw;
}

.contact-left div,
.contact-right div:first-child {
   font-size: 3rem;
   font-style: italic;
   font-weight: 600;
   line-height: 3.6rem;
   text-align: center;
}

.contact-left div span,
.contact-right div:first-child {
   font-style: normal;
   font-weight: 700;
}

.contact-center {
   text-align: center;
   max-width: 27vw;
}

.contact-center div:first-child {
   font-size: 3.6rem;
   font-weight: 700;
   line-height: 4.3rem;
   box-sizing: border-box;
   padding-bottom: 6%;
}

.contact-center div:nth-child(2),
.contact-center div:nth-child(3) {
   font-weight: 600;
   font-size: 3rem;
   font-style: italic
}

.soc-img-text,
.soc-img-text-2 {
   font-size: 3rem;
   font-style: italic;
   font-weight: 600;
   line-height: 3.6rem;
   box-sizing: border-box;
}

.soc-img-text {
   padding-left: 20%;
}

.soc-img-text-2 {
   padding-left: 18%;
}

.soc-img-text a,
.soc-img-text-2 a {
   color: black;
}

.soc-img-text img,
.soc-img-text-2 img {
   box-sizing: border-box;
   padding-right: 12%;
}

.contact-right {
   display: flex;
   flex-direction: column;
}

@keyframes animationName {
   0% {
      transform: translateX(-100%);
   }

   100% {
      transform: translateX(0%);
   }
}

@keyframes animationName-2 {
   0% {
      transform: translateX(100%);
   }

   100% {
      transform: translateX(0%);
   }
}

@keyframes moving {
   0% {
      transform: rotate(360deg);
   }
}

@keyframes moving-1 {
   0% {
      transform: rotate(-360deg);
   }
}

@keyframes cap {
   0% {
      transform: translateY(0);
   }

   100% {
      transform: translateY(-100%);
   }
}

@media screen and (max-width: 768px) {
   /*header*/

   .header-menu {
      display: none;
   }

   /*section-1*/

   .img-block-1 {
      display: block;
      overflow: unset;
      height: auto;
   }

   .img-block-1 img {
      width: 100vw;
   }

   .img-block-1-lateral-left {
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-top: 14vh;
      max-width: 95vw;
   }

   .img-block-1-lateral-right,
   .img-block-1-center-group-1,
   .img-block-1-center-group-2 {
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-top: 1vh;
      max-width: 95vw;
   }

   .img-block-1-center-group-1>img:first-of-type,
   .img-block-1-center-group-2>img:first-of-type {
      transform: translateX(1000vw);
      animation-name: animationName-2;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
      animation-delay: 1s;
      max-width: 95vw;
      margin: 1vw;
   }

   .img-block-1-center-group-1>img:last-of-type,
   .img-block-1-center-group-2>img:last-of-type {
      transform: translateX(-1000vw);
      animation-name: animationName;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
      animation-delay: 1s;
      max-width: 95vw;
      margin: 1vw;
   }

   /*section-2*/

   .img-block-2 {
      margin-top: 0;
   }

   .img-block-2>.img-block-2-right {
      display: none;
   }

   .img-block-2>.img-block-2-left {
      align-content: unset;
   }

   .img-icon {
      max-width: 28.5vw;
   }

   .img-text {
      width: 40vw;
   }

   /*section-3*/

   .section-3-head {
      font-size: 4.6rem;
      padding-top: 0;
   }

   .mod-box {
      width: 80vw;
      height: 70vh;
   }

   .img-block-3 {
      flex-wrap: wrap;
      justify-content: center;
   }

   .img-block-3-box-img {
      width: 80vw;
   }

   .img-block-3-box-img>img {
      margin: 1vh auto;
   }

   /*section-4*/

   .block-4 {
      margin: 0 auto;
      flex-direction: column;
   }

   .block4-left {
      max-width: none;
      order: 1;
      flex-direction: column;
      flex-wrap: wrap;
   }

   .block4-left-head {
      font-size: 3rem;
   }

   .block-right {
      margin: 0 auto;
      margin-bottom: 6vh;
   }

   iframe {
      width: 80vw;
      margin: 0 auto;
   }

   /*footer*/

   .contact {
      display: block;
   }

   .contact-left,
   .contact-center {
      max-width: none;
      margin-bottom: 2vh;
   }

   .contact-right {
      align-items: center;
   }

   .contact-center>div:first-of-type {
      padding-bottom: 0;
   }

   .soc-img-text,
   .soc-img-text-2 {
      padding-left: 0;
   }

   .soc-img-text img,
   .soc-img-text-2 img {
      padding-right: 0;
   }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
   /*header*/

   .header-menu {
      display: none;
   }

   /*section-1*/

   .img-block-1 {
      height: auto;
      flex-wrap: wrap;
   }

   .img-block-1-lateral-left {
      order: 1;
      max-width: none;
      width: 48vw;
      margin: 1vh 1vw;
      animation-delay: unset;
   }

   .img-block-1-center-group-1 {
      order: 3;
      width: 48vw;
      transition: none;
      margin: 1vh 1vw;
   }

   .img-up {
      margin: 0;
      margin-bottom: 2vh;
   }

   .img-block-1-center-group-2 {
      order: 4;
      width: 48vw;
      margin: 1vh 1vw;
      transition: none;
   }

   .img-block-1-lateral-right {
      order: 2;
      max-width: none;
      width: 48vw;
      margin: 1vh 1vw;
      animation-delay: unset;
   }

   /*section-2*/

   .img-block-2 {
      flex-wrap: wrap;
      margin-top: 3vh;
      height: auto;
   }

   .img-block-2>.img-block-2-left {
      align-content: unset;
   }

   .img-text {
      width: 30vw;
   }

   .mod-box {
      width: 80vw;
      height: auto;
   }

   .img-icon {
      max-width: 35vw;
   }

   .img-block-2-right {
      order: 1;
      width: 100vw;
   }

   .img-block-2-left {
      order: 2;
      margin-top: 12vh;
      margin-bottom: 5vh;
   }

   /*section-3*/

   .section-3-head {
      font-size: 6rem;
   }

   .img-block-3 {
      flex-wrap: wrap;
      justify-content: center;
   }

   .img-block-3-box-img {
      width: 41vw;
      margin: 1vh 1vw;
   }

   /*section-4*/

   .block-4 {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
   }

   .block4-left {
      max-width: 100%;
      align-items: center;
   }

   .block4-left-head {
      font-size: 5rem;
   }

   .block4-left-form {
      width: 100vw;
   }

   .block-right {
      box-sizing: border-box;
      padding-top: 8vh;
   }

   iframe {
      width: 80vw;
   }

   /*footer*/

   .contact {
      display: block;
   }

   .contact-left,
   .contact-center {
      max-width: none;
      margin-bottom: 2vh;
   }

   .contact-right {
      align-items: center;
   }

   .contact-center>div:first-of-type {
      padding-bottom: 0;
   }

   .soc-img-text,
   .soc-img-text-2 {
      padding-left: 0;
   }

   .soc-img-text img,
   .soc-img-text-2 img {
      padding-right: 0;
   }
}

@media screen and (min-width: 993px) and (max-width: 1480px) {

   /*header*/

   .header-menu {
      width: 70vw;
   }

   /*section-3*/

   .section-3-head {
      font-size: 7.6rem;
   }

   .img-text {
      width: 17vw;
   }

   .img-icon {
      max-width: 13vw;
   }

   .text-icon {
      font-size: 3rem;
   }

   .block4-left-head {
      font-size: 3.5rem;
   }
}

@media screen and (max-width: 1180px) {

   /*section-3*/

   .section-3-head {
      font-size: 5.6rem;
   }

   /*header*/

   .header-menu {
      width: 80vw;
   }

}

@media screen and (max-width: 1290px) {

   .contact-left div,
   .contact-right div:first-child {
      font-size: 2rem;
   }

   .contact-center div:first-child {
      font-size: 2.2rem;
      line-height: normal;
   }

   .contact-center div:nth-child(2),
   .contact-center div:nth-child(3) {
      font-size: 2rem;
   }

   .soc-img-text,
   .soc-img-text-2 {
      font-size: 2rem;
   }
}
